/*++++++++++++++++ Media Query +++++++++++++++++++*/
/* index.html */

@charset "utf-8";

body {
  font-family: "Arial";
  color: #222;
}
.hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

section {
  position: relative;
  overflow: hidden;
  text-align: center;
}
section > div.bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
section > div.content {
  position: relative;
  z-index: 1;
}

footer {
  overflow: hidden;
}

div.inner_wrap {
  position: relative;
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-size: 2.1875em;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

p.title_h2_pre {
  font-size: 0.875em;
  color: #40311e;
}

p.title {
  margin-top: 25px;
  font-weight: bold;
  font-size: 1.25em;
}

p.desc {
  margin: 25px 0;
  font-size: 1em;
  line-height: 1.5;
}

.view_more {
  display: inline-block;
  padding: 0.8125em 3.25em;
  background: #40311e;
  font-weight: bold;
  font-size: 0.75em;
  color: #fff;
}

.view_more:hover {
  background: #40311e;
  opacity: 0.6;
}

.pagination {
  text-align: center;
}

.dir_btns {
  display: inline-block;
  vertical-align: middle;
}

.dir_btns[class~="prev"] {
  background: url("../images/btn_common_prev.png") no-repeat;
  background-size: 100%;
}
.dir_btns[class~="next"] {
  background: url("../images/btn_common_next.png") no-repeat;
  background-size: 100%;
}

.dir_btns span {
  display: inline-block;
  margin-top: 20px;
}

/* ====== mobile(start) =======*/
@media screen and (max-width: 767px) {
  .dir_btns {
    width: 2.875em;
    height: 0.8125em;
    text-align: center;
  }
  .dir_btns[class~="prev"] {
    margin-right: 15.5em;
  }
  .dir_btns[class~="next"] {
    margin-right: 0;
  }

  /*좌우 margin 기준: 20px (6.25vw), gutter : 35px(10.9375vw) */

  header {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
  }

  header h1 {
    position: absolute;
    left: 6.25vw;
    top: 50%;
    z-index: 111;
    width: 40px;
    height: 27px;
    transform: translateY(-50%);
  }
  header h1 > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/img_logo_01.png") no-repeat;
    background-size: 100%;
  }

  header div.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 112;
    width: 87px;
    height: 30px;
    transform: translate(-50%, -50%);
  }
  header div.logo > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/img_logo_02.png") no-repeat;
    background-size: 100%;
  }

  header button.btn_menu {
    display: block;
    position: fixed;
    right: 6.25vw;
    top: 18px;
    z-index: 110;
    width: 14px;
    height: 14px;
    background: url("../images/btn_common_menu_t.png") no-repeat;
    background-size: cover;
  }
  header button.on {
    background: url("../images/btn_common_menu_f.png") no-repeat;
    background-size: cover;
  }

  header nav {
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 105;
    width: 100vw;
    height: 100vh;
    padding: 10vh 6.25vw 0 6.25vw;
    background: #40311e;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
  }
  nav.on {
    transform: translateX(-100%);
  }
  header nav > ul {
    overflow-y: hidden;
    height: 90%;
    padding: 0 9.9375vw;
  }
  header nav > ul > li > button.btn_sub {
    display: block;
    position: relative;
    width: 100%;
    height: 2.5em;
    font-size: 1.125em;
    font-weight: bold;
    color: white;
    line-height: 2.5;
  }
  header nav > ul > li > button.btn_sub::after {
    content: "▼";
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 1em;
    transform: translateY(-50%) scaleY(0.6);
    color: #fff;
    transition: all 0.5s;
  }
  header nav > ul > li > button.btn_sub > span {
    display: block;
    width: 100%;
    height: 2.5em;
    padding: 0.1em 0;
  }

  header nav > ul > li > ul {
    overflow: hidden;
    padding: 0 0 0 1.25em;
    height: 0;
    transition: all 0.5s;
  }
  header nav > ul > li > ul > li > a {
    display: block;
    width: 100%;
    height: 2em;
    color: white;
    font-size: 1em;
    line-height: 2;
  }
  header nav > ul > li:nth-child(1)[class~="active"] > ul {
    display: block;
    height: 96px;
  }
  header nav > ul > li:nth-child(2)[class~="active"] > ul {
    display: block;
    height: 128px;
  }
  header nav > ul > li:nth-child(3)[class~="active"] > ul {
    display: block;
    height: 96px;
  }
  header nav > ul > li:nth-child(4)[class~="active"] > ul {
    display: block;
    height: 96px;
  }
  header nav > ul > li:nth-child(5)[class~="active"] > ul {
    display: block;
    height: 96px;
  }
  header nav > ul > li:nth-child(6)[class~="active"] > ul {
    display: block;
    height: 64px;
  }
  header nav > ul > li:nth-child(7)[class~="active"] > ul {
    display: block;
    height: 128px;
  }

  header nav > ul > li.active > button.btn_sub::after {
    transform: translateY(-50%) rotate(180deg) scaleY(0.6);
    color: #e6ce6c;
  }
  header nav > ul > li.active > button.btn_sub > span {
    color: #e6ce6c;
    font-style: italic;
    text-decoration: underline;
  }

  header div.utility {
    text-align: center;
  }
  header div.utility > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url("../images/icon_common_sns.png") no-repeat;
  }
  header div.utility > a:nth-of-type(1) {
    background-position: 0 0;
  }
  header div.utility > a:nth-of-type(2) {
    background-position: 0 -64px;
  }
  header div.utility > a:nth-of-type(3) {
    background-position: 0 -128px;
    margin-right: 0;
  }

  footer {
    margin-top: 40px;
    text-align: center;
  }
  footer div.logo_wrap {
    display: inline-block;
    width: 100px;
    height: 36px;
  }
  footer div.logo_wrap > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  footer div.inner_wrap {
    margin-top: 30px;
  }
  footer div.inner_wrap div.info_wraps {
    width: 100%;
    padding: 0 6.25vw;
    margin-bottom: 1.25em;
  }
  footer div.inner_wrap div.info_wraps p.title {
    font-size: 0.875em;
    margin-bottom: 0.1em;
  }
  footer div.inner_wrap div.info_wraps ul {
    font-size: 0.75em;
    line-height: 1.5;
  }
  footer div.inner_wrap div.utility {
    clear: both;
  }
  footer div.inner_wrap div.utility > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background: url("../images/icon_common_sns_ft.png") no-repeat;
  }
  footer div.inner_wrap div.utility > a:nth-child(1) {
    background-position: 0 0;
  }
  footer div.inner_wrap div.utility > a:nth-child(2) {
    background-position: 0 -64px;
  }
  footer div.inner_wrap div.utility > a:nth-child(3) {
    background-position: 0 -128px;
    margin-right: 0;
  }

  footer div.copy_wrap {
    margin-top: 30px;
    padding: 0.5em 0;
    width: 100%;
    height: 100%;
    background: #40311e;
  }
  footer div.copy_wrap p {
    color: #fff;
    font-size: 0.75em;
    line-height: 1.5;
  }
  footer div.copy_wrap div.policy a {
    color: #fff;
    font-size: 0.75em;
    line-height: 1.5;
  }
}
/* ====== mobile(end) =======*/

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      LAFONAT    !!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ====== tablet(start) =======*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .dir_btns {
    width: 2.875em;
    height: 0.8125em;
    text-align: center;
  }
  .dir_btns[class~="prev"] {
    margin-right: 10em;
  }
  .dir_btns[class~="next"] {
    margin-right: 0;
  }

  /*좌우 margin 기준: 22px (2.8645vw), gutter : 20px */

  header {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 0.5);
  }

  header h1 {
    position: absolute;
    left: 2.8645vw;
    top: 50%;
    z-index: 111;
    width: 73px;
    height: 50px;
    transform: translateY(-50%);
  }
  header h1 > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/img_logo_01.png") no-repeat;
    background-size: 100%;
  }

  header div.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 112;
    width: 171px;
    height: 50px;
    transform: translate(-50%, -50%);
  }
  header div.logo > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/img_logo_02.png") no-repeat;
    background-size: 100%;
  }

  header button.btn_menu {
    display: block;
    position: fixed;
    right: 2.8645vw;
    top: 29px;
    z-index: 110;
    width: 32px;
    height: 32px;
    background: url("../images/btn_common_menu_t.png") no-repeat;
    background-size: cover;
  }
  header button.on {
    background: url("../images/btn_common_menu_f.png") no-repeat;
    background-size: cover;
  }

  header nav {
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 105;
    width: 100vw;
    height: 100vh;
    padding: 15vh 1.8645vw 0 7.8645vw;
    background: #40311e;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
  }
  nav.on {
    transform: translateX(-100%);
  }
  header nav > ul {
    text-align: center;
  }
  header nav > ul > li {
    float: left;
    width: 50%;
    height: 11.5em;
    padding: 0 1.5em;
    text-align: left;
  }
  header nav > ul > li > button.btn_sub {
    float: left;
    width: 50%;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
  }
  header nav > ul > li > ul {
    float: left;
    width: 50%;
    padding: 0 0 0.875em 0.25em;
  }
  header nav > ul > li > ul > li {
    width: 100%;
  }
  header nav > ul > li > ul > li > a {
    display: block;
    padding: 0.7em 0;
    color: white;
    font-size: 1em;
  }
  header nav > ul > li > ul > li:first-child > a {
    display: block;
    padding-top: 0.3125vh;
    padding-bottom: 0.7em;
    color: white;
    font-size: 1em;
  }

  header div.utility {
    text-align: center;
    margin-top: 5px;
    padding-right: 6vw;
  }
  header div.utility > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url("../images/icon_common_sns.png") no-repeat;
    background-size: cover;
  }
  header div.utility > a:nth-of-type(1) {
    background-position: 0 0;
  }
  header div.utility > a:nth-of-type(2) {
    background-position: 0 -64px;
  }
  header div.utility > a:nth-of-type(3) {
    background-position: 0 -128px;
    margin-right: 0;
  }

  footer {
    margin-top: 40px;
    text-align: center;
  }
  footer div.logo_wrap {
    display: inline-block;
    width: 132px;
    height: 39px;
  }
  footer div.logo_wrap > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer div.inner_wrap {
    margin-top: 40px;
  }
  footer div.inner_wrap div.info_wraps {
    float: left;
    width: 33.3333%;
    padding: 5px;
  }
  footer div.inner_wrap div:nth-last-of-type(2) {
    clear: both;
    width: 100%;
    margin-bottom: 30px;
  }
  footer div.inner_wrap div.info_wraps p.title {
    font-size: 0.875em;
    margin: 0;
  }
  footer div.inner_wrap div.info_wraps ul {
    font-size: 0.75em;
    margin-top: 5px;
    line-height: 2;
  }

  footer div.inner_wrap div.utility {
    clear: both;
  }
  footer div.inner_wrap div.utility > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url("../images/icon_common_sns_ft.png") no-repeat;
    background-size: cover;
  }
  footer div.inner_wrap div.utility > a:nth-child(1) {
    background-position: 0 0;
  }
  footer div.inner_wrap div.utility > a:nth-child(2) {
    background-position: 0 -64px;
  }
  footer div.inner_wrap div.utility > a:nth-child(3) {
    background-position: 0 -128px;
    margin-right: 0;
  }

  footer div.copy_wrap {
    margin-top: 40px;
    width: 100%;
    height: 30px;
    background: #40311e;
  }
  footer div.copy_wrap p {
    display: inline-block;
    color: #fff;
    font-size: 0.75em;
    line-height: 30px;
    vertical-align: middle;
  }
  footer div.copy_wrap div.policy {
    display: inline-block;
    vertical-align: middle;
  }
  footer div.copy_wrap div.policy a {
    color: #fff;
    font-size: 0.75em;
    line-height: 30px;
  }
}
/* ====== tablet(end) =======*/

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!           LAFONAT      !!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ====== desktop(start) =======*/

@media screen and (min-width: 1025px) {
  .dir_btns {
    width: 2.875em;
    height: 0.8125em;
    text-align: center;
  }
  .dir_btns[class~="prev"] {
    margin-right: 9em;
  }
  .dir_btns[class~="next"] {
    margin-right: 0;
  }

  header {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
  }

  header h1 {
    position: absolute;
    left: 70px;
    top: 50%;
    z-index: 111;
    width: 94px;
    height: 64px;
    transform: translateY(-50%);
  }
  header h1 > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/img_logo_01.png") no-repeat;
    background-size: 100%;
  }

  header div.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 112;
    width: 205px;
    height: 60px;
    transform: translate(-50%, -50%);
  }
  header div.logo > a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/img_logo_02.png") no-repeat;
    background-size: 100%;
  }

  header button.btn_menu {
    display: block;
    position: fixed;
    right: 70px;
    top: 32px;
    z-index: 110;
    width: 32px;
    height: 32px;
    background: url("../images/btn_common_menu_t.png") no-repeat;
    background-size: cover;
  }
  header button.on {
    background: url("../images/btn_common_menu_f.png") no-repeat;
    background-size: cover;
  }

  header nav {
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 105;
    width: 100%;
    height: 100vh;
    padding: 18vh 11vw 0 18vw;
    background: #40311e;
    transform: translateX(0);
    transition: 0.2s ease-in-out;
  }
  nav.on {
    transform: translateX(-100%);
  }
  header nav > ul {
    text-align: center;
  }
  header nav > ul > li {
    float: left;
    width: 33%;
    height: 21vh;
    padding: 0 2.604166vw;
    text-align: left;
  }
  header nav > ul > li > button.btn_sub {
    float: left;
    width: 38%;
    color: white;
    font-size: 1.09375vw;
    font-weight: bold;
  }
  header nav > ul > li > ul {
    float: left;
    width: 62%;
    padding: 0 0 0.875em 2.604166vw;
  }
  header nav > ul > li > ul > li {
    width: 100%;
  }
  header nav > ul > li > ul > li > a {
    display: block;
    padding: 0.7em 0;
    color: white;
    font-size: 0.83333vw;
  }
  header nav > ul > li > ul > li:first-child > a {
    display: block;
    padding-top: 0.3154vh;
    padding-bottom: 0.7em;
    color: white;
    font-size: 0.83333vw;
  }
  header nav > ul > li:hover > button {
    color: #e6ce6c;
    font-style: italic;
    text-decoration: underline;
  }
  header nav > ul > li > ul > li:hover > a {
    color: #e6ce6c;
    font-weight: bold;
    font-style: italic;
  }

  header div.utility {
    text-align: center;
    margin-top: 10px;
    padding-right: 6.5vw;
  }
  header div.utility > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background: url("../images/icon_common_sns.png") no-repeat;
    background-size: cover;
  }
  header div.utility > a:nth-of-type(1) {
    background-position: 0 0;
  }
  header div.utility > a:nth-of-type(2) {
    background-position: 0 -64px;
  }
  header div.utility > a:nth-of-type(3) {
    background-position: 0 -128px;
    margin-right: 0;
  }
  header div.utility > a:nth-of-type(1):hover {
    background-position: 0 -32px;
  }
  header div.utility > a:nth-of-type(2):hover {
    background-position: 0 -96px;
  }
  header div.utility > a:nth-of-type(3):hover {
    background-position: 0 -160px;
  }

  footer {
    margin-top: 40px;
    text-align: center;
  }
  footer div.logo_wrap {
    display: inline-block;
    width: 132px;
    height: 39px;
  }
  footer div.logo_wrap > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer div.inner_wrap {
    margin-top: 50px;
  }
  footer div.inner_wrap div.info_wraps {
    float: left;
    width: 24.26384%;
    padding: 5px;
  }
  footer div.inner_wrap div:nth-child(1) {
    margin-bottom: 20px;
  }
  footer div.inner_wrap div:nth-child(2) {
    width: 27.20848%;
  }
  footer div.inner_wrap div.info_wraps p.title {
    font-size: 1.125em;
    margin: 0;
  }
  footer div.inner_wrap div.info_wraps ul {
    font-size: 0.875em;
    margin-top: 10px;
    line-height: 2;
  }

  footer div.inner_wrap div.utility {
    clear: both;
  }
  footer div.inner_wrap div.utility > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background: url("../images/icon_common_sns_ft.png") no-repeat;
    background-size: cover;
  }
  footer div.inner_wrap div.utility > a:nth-child(1) {
    background-position: 0 0;
  }
  footer div.inner_wrap div.utility > a:nth-child(2) {
    background-position: 0 -64px;
  }
  footer div.inner_wrap div.utility > a:nth-child(3) {
    background-position: 0 -128px;
    margin-right: 0;
  }
  footer div.inner_wrap div.utility > a:nth-child(1):hover {
    background-position: 0 -32px;
  }
  footer div.inner_wrap div.utility > a:nth-child(2):hover {
    background-position: 0 -96px;
  }
  footer div.inner_wrap div.utility > a:nth-child(3):hover {
    background-position: 0 -160px;
  }

  footer div.copy_wrap {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    background: #40311e;
  }
  footer div.copy_wrap p {
    display: inline-block;
    color: #fff;
    font-size: 0.75em;
    line-height: 50px;
    vertical-align: middle;
  }
  footer div.copy_wrap div.policy {
    display: inline-block;
    vertical-align: middle;
  }
  footer div.copy_wrap div.policy a {
    color: #fff;
    font-size: 0.75em;
    line-height: 50px;
  }
}
/* ====== desktop(end) =======*/
